@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playwrite NZ Basic', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    padding: 20px;
}
h1, h3{
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}
.btun{
    display: block;
    width: 50%;
    margin: 10px auto 30px auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
}
input[type="button"]{
    display: block;
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}