*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#neon {
    color: #7eb566;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 0 75px #49ff18, 0 0 55px #49FF18, 0 0 40px #49FF18, 0 0 30px #49ff18, 0 0 20px #49ff18, 0 0 15px #FFF, 0 0 10px #FFF, 0 0 5px #FFF;
    }
#shadow {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #000000;
}
#shadow-2{
    color: #fff;
    text-shadow: 3px 5px 2px #474747;
    text-align: center;
    margin-top: 20px;
}