*{
    border: 1px solid black;
}
#indian-red{
    background-color: #CD5C5C;
}
#coral{
    background-color: #F08080;
}
#salmon{
    background-color: #FA8072;
}
#dark-salmon{
    background-color: #E9967A;
}
#light-salmon{
    background-color: #FFA07A;
}
#crimson{
    background-color: #DC143C;
}
#red{
    background-color: #ff0000;
}
#fire-brick{
    background-color: #B22222;
}
#dark-red{
    background-color: #8B0000;
}
#maroon{
    background-color: #800000;
}
#yt-red{
    background-color: #ff0000;
}
#alabama-crimson{
    background-color: #9e1b32;
}
#cin-red{
    background-color: #C6011f;
}
#red-sox-red{
    background-color: #BD3039;
}
#airbnb{
    background-color: #fd5c63;
}
#pigment-red{
    background-color: #ED1C24;
}
#cray-red{
    background-color: #EE204D;
}
#mun-red{
    background-color: #F2003C;
}
#ncs-red{
    background-color: #C40233;
}
#pantone-red{
    background-color: #Ed2939;
}
#barn-red{
    background-color: #7c0A02;
}
#blood-red{
    background-color: #660000;
}
#card-red{
    background-color: #c41E3a;
}
#carmine{
    background-color: #960018;
}
#chili-red{
    background-color: #e23d28;
}
#choco-cosmos{
    background-color: #58111a;
}
#cinnabar{
    background-color: #e44d2e;
}
#corneli-red{
    background-color: #b31b1b;
}
#fe-red{
    background-color: #ce2029;
}
#garnet{
    background-color: #733635;
}
#im-red{
    background-color: #ed2939;
}
#lust{
    background-color: #e62020;
}
#madder{
    background-color: #a50021;
}
#ou-crim-red{
    background-color: #841617;
}
#penn-red{
    background-color: #990000;
}
#red-wood{
    background-color: #a45a52;
}
#ruby{
    background-color: #e0115f;
}
#rusty-red{
    background-color: #da2c43;
}
#scarlet{
    background-color: #ff2400;
}
#spanish-red{
    background-color: #e60026;
}
#turk-red{
    background-color: #a91101;
}
#vermillion{
    background-color: #e34234;
}
#bu-scarlet{
    background-color: #cc0000;
}
#ali-crim{
    background-color: #e32636;
}
#amaranth{
    background-color: #e52b50;
}
#america-rose{
    background-color: #ff033e;
}
#apricot{
    background-color: #fbceb1;
}
#auburn{
    background-color: #a52a2a;
}
#burgundy{
    background-color: #800020;
}
#candy-apple-red{
    background-color: #ff0800;
}