*{
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
}
#box-1{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
#box-2{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
#box-3{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-left: none;
    border-bottom: none; 
}
#box-4{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-right: none;
}
#box-5{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-left: none;
    border-bottom: none; 
}
#box-6{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-left: none;
}
#box-7{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-top: none;
    border-bottom: none; 
}
#box-8{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-left: none;
    border-bottom: none;
}
#box-9{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-right: none;
    border-bottom: none; 
}
#box-10{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-left: none;
}
#box-11{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-right: none;
    border-bottom: none; 
}
#box-12{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
}
#box-13{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-left: none;
    border-bottom: none;
}
#box-14{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
#box-15{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
}
#box-16{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
}
#box-17{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
}
#box-18{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-left: none;
}
#box-19{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid blue;
    border-top: none;
    border-left: none;
    border-bottom: none;   
}
#box-20{
    width: 4rem;
    padding: 4rem;
    height: 4rem;
    background-color: transparent;
    border-bottom: none;
    border: 2px solid blue;
    border-left: none;
    border-bottom: none;
    border-top: none;
}